.carousel-container {
  position: relative;
  height: 500px;
  width: 100vw;
}

.poster-carousel {
  object-fit: cover;
  transform: translate(0, -15%);
  width: 100vw;
}

.tag-block {
  position: absolute;
  top: 120px;
  padding-left: 20px;
  padding-top: 5px;
  background-color: rgba(82, 252, 4, 0.7);
  color: #076103;
  height: 30px;
  width: 28%;
}

.text-block {
  position: absolute;
  bottom: 50px;
  left: 0px;
  width: 28vw;
  height: 60%;
  background-color: rgba(238, 238, 238, 0.9);
  padding: 25px;
  padding-right: 40px;
}
