@import url("https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica&display=swap");

.movies-title {
  font-family: "IM Fell DW Pica", serif;
  font-size: 50px;
}

.ant-layout-content {
  /* background-color: rgb(2, 21, 41); */
  background-image: linear-gradient(to bottom, #021529, #3e4557, #7a7d8a, #babac1, #fbfbfb);
}

.ant-tabs-nav .ant-tabs-tab-active {
  color: greenyellow !important;
}

.ant-tabs-ink-bar {
  background-color: greenyellow !important;
}

.ant-tabs-tab {
  color: whitesmoke !important;
}
