.logo {
  width: 265px;
  height: 50px;
  background-image: url(../img/logo-Xplore.png);
  margin-right: 16px;
  margin-top: 8px;
  float: left;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #16385a !important;
}
